form {
  position: relative;
  margin: 1em 0em;
  text-align: center;
  justify-content: center;
}

input {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  border-radius: 20px 0px 0px 20px;
  width: 80%;
  left: 3%;
}

input[placeholder] {
  text-align: center;
  color: white;
  font-weight: bold;
}

button {
  position: relative;
  right: 3%;
  background-color: rgb(82, 82, 82);
  border: 1px solid white;

  border-radius: 20px;
  padding: 0.2em 1.2em;
  color: white;
}
