<div class="container">
  <div class="row mx-auto col-10 col-md-10">
    <div class="card mt-5 p-4 text-light" style="width: 60rem">
      <app-city-input
        class="col-12"
        (citySubmit)="setCityInfo($event)"
      ></app-city-input>
      <!-- City -->
      <h3 class="text-center fw-bold">{{ cityName }} {{ currentDateTime }}</h3>

      <div class="d-flex justify-content-between">
        <div>
          <app-weather-icon
            [weatherCodeID]="weatherCodeID"
            [currentTime]="currentDateTime"
          ></app-weather-icon>
        </div>
        <div>
          <app-temperature
            [temperature]="weatherData?.current_weather?.temperature || 0"
            (tempUnitChanged)="tempUnitHandler($event)"
          ></app-temperature>
        </div>
      </div>

      <app-weather-details
        [timeID]="dateTimeID"
        [data]="weatherData"
      ></app-weather-details>
      <app-week-forecast
        [totNextDays]="weatherData?.daily?.time"
        [dailyData]="weatherData?.daily"
        [isCelsius]="isCelsius"
      ></app-week-forecast>
    </div>
  </div>
</div>
