<div>
  <div class="d-flex">
    <!-- unit selector buttons -->
    <div class="temp_unit mx-1" [ngClass]="isCelsius ? 'selected-unit' : ''">
      <p (click)="convertToCelsius()">°C</p>
    </div>
    <div class="temp_unit mx-1" [ngClass]="!isCelsius ? 'selected-unit' : ''">
      <p (click)="convertToFarenheit()">°F</p>
    </div>
  </div>
  <!-- Temperature -->
  <div class="text-center d-flex justify-content-center my-1">
    <h1>{{ temperature.toFixed(1) || "0" }}</h1>
    <div class="text-center">
      {{ isCelsius ? "°C" : "°F" }}
    </div>
  </div>
</div>
